/* AddQuestions.css */

.add-questions-container {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
  }
  
  label {
    display: block; /* Set display to block */
    margin-bottom: 10px;
  }
  
  input[type="text"],
  select {
    width: calc(100% - 20px); /* Adjust width to leave space for the border and padding */
    padding: 8px;
    margin-top: 5px;
    margin-right: 10px; /* Add margin between input boxes */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover{
    background-color:#89cb8b;
  }
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    input[type="text"],
    select {
      width: calc(100% - 20px); /* Adjust width for smaller screens */
    }
  }
  
  @media screen and (max-width: 400px) {
    input[type="text"],
    select {
      width: calc(100% - 10px); /* Adjust width for even smaller screens */
    }
  }
  