.feedback-container {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feedback-container h2 {
    margin-bottom: 20px;
  }
  
  .feedback-container textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: none;
  }
  
  .feedback-container button {
    display: block;
    width: 10%; /* Set initial width to 100% */
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback-container button:hover {
    background-color: #89cb8b;
  }
  
  /* Media Query for adjusting textarea and button width */
  @media screen and (max-width: 900px) {
    .feedback-container textarea,
    .feedback-container button {
      width: 100%; /* Set width to auto when screen size is small */
    }
  }
  