.admin-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center; /* Adjust as needed */

}

.admin-card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    transition: background-color 0.3s;
    width: calc(33.33% - 20px); /* 3 cards in one line with margin */
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.admin-card:hover {
    background-color: #e9ecef;
}

.admin-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.icon {
    vertical-align: middle;
    margin-right: 5px; /* Adjust as needed */
}

